*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Robot','Times New Roman', Times, serif;
}
main{ 

}
.contenedorGeneral{
    min-height: 100vh;
    width: 100%;
    background: rgb(233, 227, 227);
    display: grid;
    grid-template-columns: 1fr 7fr;
}
.contenedorFormulario{
 
    border: 1px solid blue;
    
}


@media (max-width: 767.98px) { 
    .contenedorGeneral{
        grid-template-columns: 1fr;
    }
 }

